@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


.blogCardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.blogCardItem {
    background-color: #fff;
    border: 1px solid rgba(0,168,255, 0.3);
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    height: auto;
    max-width: 19.5em; 
    margin-bottom: 1em;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 25em;
    width: 33.33%;
}

.blogCardItem > img {
    width: 100%;
    height: 176px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blogCardDetails {
    padding: 0.7em 1.5em;
}

.blogCardDetails > h3 {
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.14;
    color: #000;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.authorname {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2;
    color: #0096ff;
    margin: 0;
    padding-top: 4px;
}

.publishDate {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #000;
    margin-top: 0.3em;
    line-height: 2;
}

.description {
    width: 100%;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.35px;
    color: #000;
    margin: 0.3em 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}